<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="layout (title, content)"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${'Coyote Credit - ' + title}">Coyote Credit</title>

    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>
</head>

<body>
    <header sec:authorize="isAuthenticated()">
        <div th:replace="~{fragment/header :: header}"></div>
    </header>

    <div class="container-fluid">
        <div th:replace="${content}" class="row">
            <p>Placeholder content.</p>
        </div>
    </div>

    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
</body>
</html>