<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark header-bar mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/icon_256.png" alt="Coyote Credit" height="24" class="d-inline-block align-text-top"/>
            <span class="font-pacifico">Coyote Credit</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/exchanges}">Exchanges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" th:href="@{/users/{id}(id=${#authentication.getPrincipal().getId()})}">
                        My Profile
                        <span
                            th:if="${#authentication.getPrincipal().isHasNotifications()}"
                            th:text="${#authentication.getPrincipal().getNewNotificationCount()}"
                            class="badge rounded-pill bg-danger"
                        ></span>
                    </a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/logout}" th:method="post">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

</body>