<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Change Password', content=~{::#content})}"
>
<div id="content" class="container">
    <h1 class="display-4">Change Password</h1>
    <p class="lead">
        Change the password to your account.
    </p>
    <form th:action="@{/users/{uId}/changePassword(uId=${userId})}" method="post">
        <div class="mb-3">
            <label for="currentPasswordInput" class="form-label">Current Password</label>
            <input id="currentPasswordInput" name="currentPassword" class="form-control" type="password" required/>
            <small class="text-muted">You must enter your current password to confirm your access to the account.</small>
        </div>
        <div class="mb-3">
            <label for="newPasswordInput" class="form-label">New Password</label>
            <input id="newPasswordInput" name="newPassword" class="form-control" type="password" minlength="6" required/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
