<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Transfer', content=~{::#content})}"
>
<div id="content" class="container">
    <h1 class="display-4">Transfer</h1>
    <p class="lead">
        Transfer funds to other accounts.
    </p>
    <form th:action="@{/accounts/{aId}/transfer(aId=${accountId})}" th:method="post">
        <div class="mb-3">
            <label for="recipientNumberInput" class="form-label">Recipient Account Number</label>
            <input type="text" name="recipientNumber" class="form-control" id="recipientNumberInput" required/>
            <small class="text-muted">
                Format: <span class="monospace">1234-1234-1234-1234</span><br>
            </small>
        </div>
        <div class="mb-3">
            <label for="tradeableSelect" class="form-label">Asset</label>
            <select class="form-select" id="tradeableSelect" name="tradeableId" required>
                <option
                        th:each="b : ${balances}"
                        th:text="${b.symbol() + ' - Balance ' + b.amount()}"
                        th:value="${b.id()}"
                ></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="amountInput" class="form-label">Amount</label>
            <input type="number" min="0" name="amount" class="form-control" id="amountInput" required/>
            <small class="text-muted">
                You may only transfer up to your maximum balance.
            </small>
        </div>
        <div class="mb-3">
            <label for="messageTextArea" class="form-label">Message</label>
            <textarea class="form-control" name="message" rows="3" id="messageTextArea" maxlength="1024"></textarea>
            <small class="text-muted">
                Note: Message text is saved in a transfer record, and is regularly scanned by
                automated systems, and administrators.
            </small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Transfer</button>

        <p class="text-danger fw-bold">
            Warning! All transfers are final, and cannot be reversed.
        </p>
    </form>
</div>
