<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Exchange', content=~{::#content})}"
>
<div id="content" class="container">
    <h1 th:text="${exchange.name()}"></h1>

    <p>
        Primary tradeable: <span th:text="${exchange.primaryTradeable().name()}"></span>
    </p>

    <h3>Supported Tradeable Currencies / Stocks</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Type</th>
                <th>Price ($)</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tradeable : ${exchange.supportedTradeables()}">
                <td th:text="${tradeable.symbol()}"></td>
                <td th:text="${tradeable.type()}"></td>
                <td th:text="${tradeable.marketPriceUsd()}"></td>
                <td th:text="${tradeable.name()}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${exchange.accountAdmin()}">
        <div>
            <a class="btn btn-primary" th:href="@{/exchanges/{eId}/accounts(eId=${exchange.id()})}">View Accounts</a>
        </div>
    </div>
</div>