<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Home', content=~{::#content})}"
>

<div id="content" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="display-4">Welcome to Coyote Credit</h1>

            <p class="lead">
                A simulated asset trading platform developed for building a stronger understanding of investment and wealth management.
            </p>

            <hr>

            <p>
                You can visit the <a th:href="@{/exchanges}">Exchanges</a> page to view a list of exchanges that you're participating in.
            </p>
        </div>
    </div>
</div>