<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Home', content=~{::#content})}"
>

<div id="content" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="display-4">Welcome to Coyote Credit</h1>

            <p class="lead">
                A simulated asset trading platform developed for building a stronger understanding
                of investment and wealth management.
            </p>

            <hr>

            <h3>Getting Started</h3>
            <p>
                You can visit the <a class="colored-link" th:href="@{/exchanges}">Exchanges</a> page
                to view a list of exchanges that you're participating in. Within an exchange, you
                may buy and sell tradeable assets, and transfer funds to other accounts.
            </p>
            <p>
                If you're looking to open your own exchange for your friends, colleagues, or
                students to participate in, you can submit a
                <a class="colored-link" th:href="@{/requestExchange}">request for a new exchange.</a>
                <small class="text-muted">
                    Note that exchange requests are processed manually, on a case-by-case basis, and
                    are subject to the discretion of site administrators.
                </small>
            </p>
        </div>
    </div>
</div>