<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>CC - Login</title>
</head>
<body>

<form th:action="@{/login/processing}" th:method="post">
    <label for="usernameInput">Username</label>
    <input name="username" type="text" id="usernameInput">

    <label for="passwordInput">Password</label>
    <input name="password" type="password" id="passwordInput">

    <input type="submit" value="Login">
</form>

</body>
</html>