<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='My Profile', content=~{::#content})}"
>
<div id="content" class="container">
    <h1 class="display-4">My Profile</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th scope="row">Username</th>
                <td th:text="${user.username()}"></td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td th:text="${user.email()}"></td>
            </tr>
        </tbody>
    </table>

    <div class="card text-white bg-dark mb-3">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <h5>Notifications</h5>
                <form th:action="@{/userNotifications/dismissAll}" method="post" class="float-end">
                    <button type="submit" class="btn btn-sm btn-secondary">Dismiss All</button>
                </form>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark" th:each="n : ${user.newNotifications()}">
                <div class="d-flex justify-content-between">
                    <small th:text="${n.sentAt()}"></small>
                    <form th:action="@{/userNotifications/{nId}/dismiss(nId=${n.id()})}" method="post" class="float-end">
                        <button type="submit" class="btn btn-sm btn-secondary">Dismiss</button>
                    </form>
                </div>
                <p th:text="${n.content()}"></p>
            </li>
            <li class="list-group-item list-group-item-dark" th:if="${user.newNotifications().isEmpty()}">
                You don't have any new notifications.
            </li>
        </ul>
    </div>

    <div class="card text-white bg-dark mb-3" th:if="${!user.exchangeInvitations().isEmpty()}">
        <div class="card-body">
            <h5 class="card-title">Exchange Invitations</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark" th:each="invite : ${user.exchangeInvitations()}">
                <span th:text="${invite.exchangeName()}"></span>

                <form th:action="@{/exchanges/{eId}/rejectInvite/{iId}(eId=${invite.exchangeId()}, iId=${invite.id()})}" method="post" class="float-end">
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
                <form th:action="@{/exchanges/{eId}/acceptInvite/{iId}(eId=${invite.exchangeId()}, iId=${invite.id()})}" method="post" class="float-end">
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>
            </li>
        </ul>
    </div>

    <div>
        <a class="btn btn-primary" th:href="@{/users/{uId}/changePassword(uId=${userId})}">Change Password</a>
    </div>
</div>
