<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Exchange Accounts', content=~{::#content})}"
>
<div id="content" class="container">
    <h1>Accounts</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Admin</th>
                <th>Balance</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td><a class="colored-link" th:href="@{/accounts/{id}(id=${account.id()})}" th:text="${account.number()}"></a></td>
                <td th:text="${account.name()}"></td>
                <td th:text="${account.admin()}"></td>
                <td class="monospace" th:text="${account.totalBalance()}"></td>
                <td><a
                        class="colored-link"
                        th:href="@{/exchanges/{eId}/removeAccount/{aId}(eId=${exchangeId}, aId=${account.id()})}"
                        th:if="${account.userId() != #authentication.getPrincipal().getId()}"
                >Remove</a></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/exchanges/{eId}/inviteUser(eId=${exchangeId})}">Invite User</a>
</div>
