<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/basic_page :: layout (title='Exchange', content=~{::#content})}"
>
<div id="content" class="container">
    <h1 th:text="${exchange.name()}"></h1>

    <p>
        Primary asset: <span th:text="${exchange.primaryTradeable().name()}"></span>
    </p>

    <h3>Tradeable Assets</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Type</th>
                <th>Price (in USD)</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tradeable : ${exchange.supportedTradeables()}">
                <td th:text="${tradeable.symbol()}"></td>
                <td th:text="${tradeable.type()}"></td>
                <td class="currency" th:text="${tradeable.formattedPriceUsd()}"></td>
                <td th:text="${tradeable.name()}"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" th:href="@{/accounts/{aId}(aId=${exchange.accountId()})}">My Account</a>
        <a class="btn btn-primary" th:if="${exchange.accountAdmin()}" th:href="@{/exchanges/{eId}/accounts(eId=${exchange.id()})}">All Accounts</a>
    </div>
</div>